# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# OS
.DS_Store
Thumbs.db

# Project outputs & local data
outputs/
data/*
!data/sample/
!data/sample/input/

# Logs
*.log
